body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 500px; /* ширина */
  margin: 0 auto; /* центрування блоку */
  padding: 10px 30px;
  border: 4px solid rgb(139, 0, 16);
  border-radius: 10px;
  background-color: #fdccdd;
}

.title {
  font-size: 24px;
  color: rgb(94, 48, 15);
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

.task {
  display: flex;
  justify-content: space-between; /* горизонтально - по краям */
  align-items: center; /* вертикально - по центру */
  border-bottom: 1px solid rgb(96, 79, 129); /* нижня рамка пыд задачею */
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: rgb(208, 208, 208);
  color: rgb(50, 17, 17);
  border: 1px solid rgb(74, 19, 19);
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.5s; /* плавна анімація */
}

.btn:hover {
  background-color: rgb(171, 81, 17);
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  border: 1px solid rgb(100, 202, 134), 0.56;
  border-radius: 4px;
  font-size: 16px;
}

input::placeholder {
  color: silver;
  letter-spacing: 2px;
}

.complete {
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}
